/* * {
  background: #f1f1f1;
  color: #f1f1f1;
} */

body {
  background-color: #3b9ae1;
}

h3 {
  cursor: pointer;
}

.card {
  padding: 0;
  max-width: 1000px;
  background-color: #e8f9fd;
  border: none;
}

.card-img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.navbar {
  background-color: #3120e0;
}

.navbar-brand {
  color: #e8f9fd;
}

.main {
  margin-top: 2rem;
}

.tabs {
  max-width: 500px;
}

.active {
  border-radius: 20px;
  color: #000000;
  background-color: #e8f9fd;
  transition: 0.4s all ease-in-out;
}

.media-header {
  padding-top: 5px;
  border-radius: 20px;
}

.date {
  /* position: absolute; */
  margin-top: 5rem;
}
